[Desktop Entry]
Name=Broadcast Preferences
GenericName=Broadcast Preferences
X-GNOME-FullName=Broadcast Preferences
Type=Application
Comment=Change your broadcast preferences
Exec=gwibber-preferences
Icon=gwibber
Categories=GTK;GNOME;Settings;
X-GNOME-Gettext-Domain=gwibber
NoDisplay=true
