[Desktop Entry]
Version=1.0
Name=Mistelix
GenericName=DVDs and slideshows
Comment=Author DVDs and slideshows
Exec=mistelix
Icon=mistelix
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
X-Ubuntu-Gettext-Domain=mistelix
X-GNOME-FullName[es]=Autoría de DVDs de vídeo (Mistelix)
Comment[es]=Crea tus propios DVD de vídeo
