Source: gru2
Section: utils
Priority: optional
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Uploaders: Juanje Ojeda Croissier <jojeda@emergya.es>,
           Roberto C. Morano <rcmorano@emergya.es>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python-all-dev (>= 2.4)
Build-Depends-Indep: python-central (>= 0.5)
XS-Python-Version: >= 2.5
Standards-Version: 3.8.2
Homepage: http://launchpad.net/gru2
Vcs-Browser: http://codebrowse.launchpad.net/~guadalinex-members/gru2/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/gru2/trunk

Package: gru2
Architecture: all
Depends: ${python:Depends}, zenity, python, grub-pc, gksu
XB-Python-Version: ${python:Versions}
Description: The Grub2 Recovery Utility
 A Python utility for recovering grub2 from a live cd.
