Source: grubaker2
Section: admin
Priority: optional
XSBC-Original-Maintainer: Alfonso de Cala <alfonso.cala@juntadeandalucia.es>
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Uploaders: Roberto C. Morano <rcmorano@emergya.es>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.8.0
Homepage: http://launchpad.net/grubaker
Vcs-Browser: http://codebrowse.launchpad.net/~guadalinex-members/grubaker/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/grubaker/trunk

Package: grubaker2
Architecture: any
Depends: python, python-gtk2
Description: Boot Menu Editor for grub2
 useful to config boot options with no technical knowledge.
