[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Support (via Internet)
Name[es]=Asistencia Técnica (por Internet)
Comment=Obtener ayuda a través de Internet
Exec=firefox %u http://www.guadalinex.org/distro/V7/ayuda
Terminal=false
Type=Application
Icon=gnome-globe
Categories=GNOME;GTK;Core;Help;
GenericName[es_ES]=
