[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/icons/getapixel_46x46.png
Name= Mosaics generator (Getapixel)
Name[es]=Generador de mosaicos (Getapixel)
Comment=Make your own mosaics easily
Comment[es]= Crea tus mosaicos facilmente
Exec=/usr/bin/getapixel
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Graphics
StartupNotify=false

