[Desktop Entry]
Name=bzflag-data
Comment=BZFlag data file
Encoding=UTF-8
X-AppInstall-Package=bzflag-data
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
