[Desktop Entry]
Name=dia-gnome
Comment=Diagram editor (GNOME version)
Encoding=UTF-8
X-AppInstall-Package=dia-gnome
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
