[Desktop Entry]
Name=fb-music-high
Comment=High quality, large music files for Frozen-Bubble
Encoding=UTF-8
X-AppInstall-Package=fb-music-high
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
