[Desktop Entry]
Name=frozen-bubble-data
Comment=Data files for Frozen-Bubble
Encoding=UTF-8
X-AppInstall-Package=frozen-bubble-data
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
