[Desktop Entry]
Name=gl-117-data
Comment=Data files for gl-117
Encoding=UTF-8
X-AppInstall-Package=gl-117-data
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
