[Desktop Entry]
X-AppInstall-Package=quanta
X-AppInstall-Popcon=1207
X-AppInstall-Section=universe

Name=Quanta Plus
Exec=quanta %U
Icon=quanta
Type=Application
MimeType=text/html;application/x-webprj;
DocPath=quanta/index.html
GenericName=Web Development Environment
Comment=Web Development Environment
Categories=Desarrollo;
X-Ubuntu-Gettext-Domain=app-install-data
