[Desktop Entry]
Name=supertux
Comment=Classic 2D jump 'n run sidescroller with Tux
Encoding=UTF-8
X-AppInstall-Package=supertux
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
